.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: auto;
  padding-top: 16px;
}
